* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    width: 100%;
    font-family: Arial, sans-serif;
}

.main-container {
    display: flex;
    gap: 2.78vw; /* 40px */
    padding: 2.36vw 4.65vw;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0.278vw 0.556vw 0px rgba(0, 0, 0, 0.25);
    padding: 1.667vw;
    background-color: rgba(255, 255, 255, 1);
}

img {
    width: 100%;
    display: block;
}

.icon {
    display: flex;
    align-items: center;
    gap: 0.69vw; /* 10px */
}

.header-text {
    color: #612EED;
    font-weight: 600;
    font-size: 1.53vw; /* 22px */
}

.options {
    display: flex;
    gap: 2.083vw;
}

.options button {
    border-radius: 0.56vw; /* 8px */
    border: 1px solid #612EED;
    padding: 0.69vw; /* 10px */
}

.option1 {
    color: #612EED;
    width: 10.49vw; /* 151px */
    background-color: white;
}

.option2 {
    width: 10.21vw; /* 147px */
    color: white;
    background-color: #612EED;
}

.right-header {
    display: flex;
    align-items: center;
    gap: 1.389vw;
}

.profile img {
    width: 1.74vw;
    height: 1.74vw;
    border-radius: 50%;
}

.backward {
    width: 1.04vw; /* 15px */
    height: 1.18vw; /* 17px */
}

.left-container {
    width: 49.72vw;
}

.left-image img {
    height: 27.08vw; /* 390px */
    border-top-right-radius: 1.25vw; /* 18px */
    border-top-left-radius: 1.25vw;
    display: block;
}

.left-text {
    margin-top: 1.46vw; /* 21px */
    font-weight: 700;
    font-size: 2.22vw; /* 32px */
    color: #612EED;
}

.df {
    display: flex;
    gap: 0.69vw; /* 10px */
   
    flex-wrap: wrap;
    padding-top: 1.67vw; /* 24px */
}

.dfs {
    display: flex;
    gap: 2.99vw;
    
    padding-top: 1.67vw;
}

.text p {
    background: rgba(244, 244, 244, 1);


    color: rgba(113, 113, 113, 1);
    padding: 0.42vw 1.74vw; /* 6px 25px */
    border-radius: 0.42vw;
    font-weight: 500;
    font-size: 0.97vw; /* 14px */
}

.clock-image, .calender-image {
    width: 1.39vw;
    height: 1.39vw;
}

.month, .year {
    display: flex;
    gap: 0.28vw; /* 4px */
    align-items: center;
}

.left-paragraph {
    margin-top: 3.33vw; /* 48px */
}

.left-paragraph p {
    font-weight: 500;
	text-align: justify;
    font-size: 0.97vw;
    line-height: 1.8;
    text-indent: 2.78vw; /* 40px */
}

.keytopic-paragraph {
    font-weight: 500;
    padding-top: 1.39vw; /* 20px */
    font-size: 0.97vw;
}
/* Animate from left */
.animate_left {
  animation: fadeInLeft 0.8s ease forwards;
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Animate from bottom */
.fadeInUp {
  animation: fadeInUp 0.8s ease forwards;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}







.list {
    padding: 1.32vw;
}

.list li {
    margin-bottom: 0.69vw; /* 10px */
    font-weight: 500;
}

.right-container {
    width: 38.27vw;
   
    border-radius: 1.25vw; /* 18px */
    box-shadow: 0px 0px 0.83vw 0px rgba(0, 0, 0, 0.25); 
	overflow: hidden;/* 12px */
}

.padding-container {
    padding: 1.81vw; /* 26px */
}

.sub-right {
    border: 1px solid rgba(184, 184, 184, 1);
}

.header-subright {
    padding: 1.18vw 1.81vw; /* 17px 26px */
    color: #612EED;
    font-size: 1.81vw; /* 26px */
    font-weight: 700;
}

.html-container {
    width: 34.65vw;
    border-radius: 0.56vw; /* 8px */
    box-shadow: 0px 0px 0.28vw 0px rgba(0, 0, 0, 0.25); /* 4px */
}

.dfss {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(184, 184, 184, 1);
    padding: 1.39vw; /* 20px */
}



.text-html {
    font-weight: 600;
    font-size: 1.39vw; /* 20px */
    color: #612EED;
}

.lists p {
    padding: 0.83vw 1.39vw; /* 12px 20px */
    font-weight: 400;
    font-size: 1.39vw;
}

.dfss1 {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 0.28vw 0px rgba(0, 0, 0, 0.25); /* 4px */
    margin-top: 0.83vw; /* 12px */
    padding: 1.39vw;
	align-items: center;
    border-radius: 0.56vw; /* 8px */
}

.up-icon  {
    width: 1.18vw;
    height: 1.18vw;
    color: rgba(45, 11, 137, 1);
}

.text-html2 {
    font-weight: 600;
    font-size: 1.39vw;
    color: #612EED;
}

.sub-footer1 {
    margin-top: 5vw;
	display: flex;
	justify-content: space-between;
    background-color: rgba(0, 37, 139, 1);
    padding: 6.88vw; /* 99px */
}

.footer-text2 {
    color: white;
    width: 21.18vw; /* 305px */
    font-size: 1.25vw; /* 18px */
    margin-top: 1.46vw; /* 21px */
}

.footer-text1 {
    font-size: 2.15vw; /* 31px */
    color: white;
}
.footer-icons{
	display: flex;
	
	width: 190px;
	gap: 10px;
	padding-top: 40px;
	
}
.icons-last img{
    color: white;
}
.icons-last{
	
	display: block;
	height: 30px;
	width: 30px;
}
.flexbox-footer{
	font-size: 2.15vw; /* 31px */
    color: white;
	margin-right: 50px;
}
.flex {
    display: flex;
    gap: 1.20vw; /* 15px */
    align-items: center;
    padding-bottom:10px;
}
.flex p{
    font-size: 20px;
}

.flex-image {
    width: 1.08vw;  /* 30px */
    height: 1.08vw;
    display: block;
}

.details {
    padding-bottom: 1.39vw; 
}
.rotated {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}
.up-icon img {
    transition: transform 0.3s ease;
}



